[Unit]
Description=Init wifi
# wpa_supplicant@wlan0 is required because we talk to it via wpa_cli
# dhcpcd is required for IP address assignment on wlan0
Requires=sg-boot.service wpa_supplicant@wlan0.service dhcpcd.service
# start after set-wlan.service, which is created by raspi-imager
After=sg-boot.service wpa_supplicant@wlan0.service dhcpcd.service set-wlan.service

[Service]
Type=oneshot
ExecStart=/opt/sensorgnome/wifi-button/wifi-init.sh
SyslogIdentifier=sg-wifi-init
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
